body {
  max-width: 90vw;
  margin: 0 auto;
}
h1 {
  font-family: "Libre Baskerville", serif;
}

p {
  font-family: "Source Sans Pro", sans-serif;
}

.search {
  flex: 1;
  order: 1;
}

a {
  color: #12b06d;
  background-color: white;
  padding: 10px;
  border-radius: 15px;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

.homepage-image {
  margin: 20px;
}
